# ==============================================
# Policy File of /system/binmxg2320d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mxg2320d_exec , exec_type, file_type;
type mxg2320d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive mxg2320d;
init_daemon_domain(mxg2320d)
#unconfined_domain(mxg2320d)
# Purpose : M-sensor daemon for access driver node
allow mxg2320d msensor_device:chr_file { open ioctl read write };
allow mxg2320d gsensor_device:chr_file { open ioctl read write };
allow mxg2320d input_device:dir { search open read write };
allow mxg2320d input_device:file { open read };
allow mxg2320d akmd8963_access_file1:file { open read write };
allow mxg2320d akmd8963_access_file2:file { open read write};
# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
# for msensor daemon access "data/misc".
file_type_auto_trans(mxg2320d, system_data_file, msensor_data_file)
allow mxg2320d system_data_file:dir { create setattr };
allow mxg2320d msensor_data_file:file { open write read create setattr};

