on boot

# Temp Backward compatibility
    mkdir /dev/block/platform/mtk-msdc.0/by-name 0777 system system
    symlink /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/system /dev/block/platform/mtk-msdc.0/by-name/system
    symlink /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/userdata /dev/block/platform/mtk-msdc.0/by-name/userdata
    symlink /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/cache /dev/block/platform/mtk-msdc.0/by-name/cache
    symlink /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/boot /dev/block/platform/mtk-msdc.0/by-name/boot
    symlink /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/recovery /dev/block/platform/mtk-msdc.0/by-name/recovery
	
on init
#	fake to CDP case
#	write /sys/module/musb_hdrc/parameters/musb_skip_charge_detect 1

# 	set battery thread free
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0E8D
    write /sys/class/android_usb/android0/idProduct 2008
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1

#	make this twice to keep following action not race with batyery thread
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0E8D
    write /sys/class/android_usb/android0/idProduct 2008
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1

# 	distinguish USB shoulde connect or not by this, CDP vs SDP
	write /sys/devices/platform/mt_usb/cmode 2

on property:ro.debuggable=1
# 	restore cmode to normal for making USB enumeration
	write /sys/devices/platform/mt_usb/cmode 1
